body {
    font-family: 'Arial', sans-serif;
    font-family: 'Courier New';
    background-color: var(--background-dark);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header {
    background: var(--color-gradient-dark);
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.header_items {
    display: grid;
}
.header_items .prevbtn a
{
    float: left;
}
.header_items .nextbtn a
{
    float: right;
}
.header_items .projectname
{
    text-align: center;
}
@media (min-width: 600px)
{
    .header_items {
        display: grid; 
        grid-template-columns: auto max-content auto;
    }
    .header_items .prevbtn
    {
        grid-column: 1;
    }
    .header_items .nextbtn
    {
        grid-column: 3;
    }
    .header_items .projectname
    {
        grid-column: 2;
    }
}
@media (max-width: 600px)
{
    .header_items {
        display: grid; 
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    .header_items .prevbtn
    {
        grid-column: 1;
    }
    .header_items .nextbtn
    {
        grid-column: 2;
    }
    .header_items .projectname
    {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--background-dark);
}
.content-wrapper {
    background-color: rgba(24, 24, 26, 0.8);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background:  var(--color-gradient);
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: var(--text-color-ight);
}
.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 5px;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    height: 400px;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
    padding: 5px 10px;
    text-decoration: none;
    font-size: 30px;
    max-height: fit-content;
    max-width: fit-content;
    
    filter: drop-shadow(0 0px 20px black);
    
    stroke: var(--text-color-ight);
    stroke-width: 3px;
    stroke-linejoin: none;
    paint-order: fill;
}
.carousel-control:hover {
    transform: translateY(-53%);
}
.carousel-control:active {
    transform: translateY(-50%);
}
.carousel-control.prev {
    left: 10px;
    fill: var(--text-color-translucent);
    stroke: var(--text-color-ight);
}
.carousel-control.next {
    right: 10px;
    fill: var(--text-color-translucent);
    stroke: var(--text-color-ight);
}
h2 {
    margin-top: 5vh;
    color: #ddd;
    border-bottom: 2px solid;
    border-image: var(--color-gradient) 1;
    padding-bottom: 10px;
}
.back-link {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid;
    border-image: var(--color-gradient) 1;
    padding: 10px 20px;
    transition: 0.3s ease;
    text-shadow: 0 0 10px black;
}
.back-link:hover {
    background: var(--color-gradient-dark);
    color: var(--hover-color-header);
}
.cycle-projects {
    display: inline-block;
    margin-top: 20px;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid;
    border-color: var(--text-color);
    padding: 10px 20px;
    transition: 0.3s ease;
    text-shadow: 0 0 10px black;
}
.cycle-projects:hover {
    background: var(--text-color-translucent);
    color: #fff;
    
}
.portfolio-link:link {
    color: var(--colour-accent-one);
}
.portfolio-link:visited {
    color: var(--colour-accent-two);
}