:root {
    --colour-accent-one: #eb9317;
    --colour-accent-two: #cd2f8e;
    --hover-colour-header: #ffffff;
    --hover-colour-one: #ffe1b7;
    --hover-colour-two: #ffd5ef;
    --hover-shadow-one: #cdb5844d;
    --hover-shadow-two: #b041984d;
    --background-dark: #18181a;
    --background-dark-transparent: #18181a99;
    --background-light: #242426;
    --background-light-transparent: #24242699;
    --background-lighter: #2c2c2e;
    --text-color: #e0e0e0;
    --text-color-translucent: #e0e0e083;
    --text-color-ight: #fffffff2;

    --icon-size-small: 35px;
    --icon-size-medium: 40px;
    --icon-size-large: 55px;
    --border-radius-sharp: 5px;
    --border-radius-round: 15px;

    --border-radius-hide: 15px;
    --pixel-border-slice: 30; /*60 or 30?  OR 75*/
    --pixel-border-image-width: 9px;
    --pixel-border-image-repeat: stretch;
    --pixel-border-image-path: url('./images/Buttons/Color_Btn_Medium_Thin.png');
    --transition-speed: 0.3s;
    
    --colour-accent-one: #40bbb5;
    --colour-accent-two: #3f7fb3;
    --colour-accent-three: #494eb4;
    --hover-colour-one: #50eee6;
    --hover-colour-two: #4b9cdf;
    --hover-colour-three: #4866bb;
    --hover-shadow-one: #3e94904d;
    --hover-shadow-two: #3e42944d;

    
    --colour-accent-one: #15FFDF;
    --colour-accent-two: #1582FF;
    --colour-accent-three: #3F0CB5;
    --hover-colour-one: #97fff1;
    --hover-colour-two: #69afff;
    --hover-colour-three: #9979e2;
    --hover-shadow-one: #15ffe083;
    --hover-shadow-two: #1582FF83;
    --hover-shadow-three: #3F0CB583;


    --color-gradient: linear-gradient(135deg, var(--colour-accent-one), var(--colour-accent-two), var(--colour-accent-three));
    --light-color-gradient: linear-gradient(135deg, var(--hover-colour-one), var(--hover-colour-two), var(--hover-colour-three));
    --color-gradient-dark: linear-gradient(135deg, var(--hover-shadow-one), var(--hover-shadow-two), var(--hover-shadow-three));

    /*--colour-accent-one: #fdd700;
    --colour-accent-two: #ff8b17;
    --colour-accent-three: #8f20ff;
    --colour-accent-four: #0a00c4;
    
    --colour-accent-one: #d8c347;
    --colour-accent-two: #c9833c;
    --colour-accent-three: #9139ea;
    --colour-accent-four: #2b23c5;

    --hover-colour-one: #fdd700;
    --hover-colour-two: #ff8b17;
    --hover-colour-three: #8f20ff;
    --hover-colour-four: #0a00c4;
    --hover-shadow-two: #fdd7004d;
    --hover-shadow-one: #0101924d;
    --color-gradient: linear-gradient(135deg, var(--colour-accent-one), var(--colour-accent-two), var(--colour-accent-three), var(--colour-accent-four));
    --light-color-gradient: linear-gradient(135deg, var(--hover-colour-one), var(--hover-colour-two), var(--hover-colour-three), var(--hover-colour-four));*/



    /*--colour-accent-one: #f3a334;
    --colour-accent-two: #fb6fe4;
    --hover-colour-one: #fffaf4;
    --hover-colour-two: #fffafe;
    --hover-shadow-one: #f3a3344d;
    --hover-shadow-two: #fb6fe44d;*/


    /*--colour-accent-one: #f31d36;
    --colour-accent-two: #c10020;
    --hover-colour-one: #f7ced3;
    --hover-colour-two: #e0c6ca;
    --hover-shadow-one: #f31d364d;
    --hover-shadow-two: #c100204d;*/


    
    /*--colour-accent-one: #8884cd;
    --colour-accent-two: #41a9b0;
    --hover-colour-one: #ffffff;
    --hover-colour-two: #bbbbbb;*/

    /* greeeen */
    /* --colour-accent-one: #56ab2f;
    --colour-accent-two: #a8e063;
    --colour-colour-one: #abfa87;
    --colour-colour-two: #e3ffc0;
    --colour-shadow-one: #56ab2f4d;
    --colour-shadow-two: #a8e0634d; */

    /* --colour-accent-one: #D38312;
    --colour-accent-two: #A83279; */

    /* --colour-accent-one: #70e1f5;
    --colour-accent-two: #ffd194; */

    /* --colour-accent-one: #556270;
    --colour-accent-two: #ff6b6b; */

    /* purple */
    /*--colour-accent-one: #9d50bb;
    --colour-accent-two: #6e48aa; 
    --colour-colour-one: #d3a2e6;
    --colour-colour-two: #cfbeeb; 
    --colour-shadow-one: #9d50bb4d;
    --colour-shadow-two: #6e48aa4d; */

    /* --colour-accent-one: #fbd3e9;
    --colour-accent-two: #bb377d; */

    /* --colour-accent-one: #606c88;
    --colour-accent-two: #3f4c6b; */

    /* --colour-accent-one: #b993d6;
    --colour-accent-two: #8ca6db; */

    /* --colour-accent-one: #4b6cb7;
    --colour-accent-two: #182848; */

    /* --colour-accent-one: #283048;
    --colour-accent-two: #859398; */

    /* --colour-accent-one: #3d7eaa;
    --colour-accent-two: #ffe47a; */

    /* --colour-accent-one: #134e5e;
    --colour-accent-two: #71b280; */

    /* --colour-accent-one: #0d49d6;
    --colour-accent-two: #e02fff; */
}