<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - Mara Schmid</title>
    <link rel="stylesheet" href="https://use.typekit.net/ces7hdw.css">
    <link rel="stylesheet" href = "{{ site.baseurl }}/assets/stylesheet_new.css">
</head>
<body>
    <header>
    </header>
    <main>
        <!-- Side navigation -->
        <div class="side-nav-bar">
            <img src="/{{site.baseurl}}{{ page.image_base }}{{ page.thumbnail }}" alt="{{ page.title }}">
            <div class="side-nav-text">
                <h1>{{ page.title }}</h1>
                <div id="tag-container">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <span class="tag"><p>{{ tag }}</p></span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div id="navigation">
                <a class="nav-button" href="/" id="projectlink">Home &rarr;</a>
                {% if page.fhpage %}
                <a href="{{ page.fhpage }}" class="nav-button" id="projectlink">FH Portfolio &rarr;</a>
                {% endif %}
                {% if page.itchpage %}
                <a href="{{ page.itchpage }}" class="nav-button" id="projectlink">Itch.io &rarr;</a>
                {% endif %}
                {% if page.crpage %}
                <a href="{{ page.crpage }}" class="nav-button" id="projectlink">Creativity Rules &rarr;</a>
                {% endif %}
            </div>

            <div id="cycle-project-box">
                <p>Cycle Projects</p>
                <!-- get previous and next project -->
                {% assign current_order = page.order %}
                {% assign all_projects = site.projects | where_exp: "item", "item.order != nil" | sort: "order" %}
                {% assign total_projects = all_projects | size %}

                {% assign current_index = nil %}
                {% for p in all_projects %}
                {% if p.order == current_order %}
                    {% assign current_index = forloop.index0 %}
                {% endif %}
                {% endfor %}

                {% assign prev_index = current_index | minus: 1 %}
                {% if prev_index < 0 %}
                {% assign prev_index = total_projects | minus: 1 %}
                {% endif %}

                {% assign next_index = current_index | plus: 1 %}
                {% if next_index >= total_projects %}
                {% assign next_index = 0 %}
                {% endif %}

                {% assign previous_project = all_projects[prev_index] %}
                {% assign next_project = all_projects[next_index] %}

                <a href="{{ previous_project.url }}" class="cycle-projects">&#8592;</a>
                <a href="{{ next_project.url }}" class="cycle-projects">&#8594;</a>
            </div>
        </div>

        <!-- Page content -->
        <div class="main-content">
            <div class="content-wrapper">
                <div id="project-info-container">
                    <div class="content-text">
                        <h1>{{ page.title }}</h1>
                        {{ content }}
                    </div>
                    
                    <div class="image-column">
                        {% for image in page.images %}
                            <img src="/{{site.baseurl}}{{ page.image_base }}{{ image.file }}" alt="{{ image.alt }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="impressum">
                <h3>Impressum</h3>
                <p>Mara Schmid</p>
                <p>Email: mara.schmid@sbg.at</p>
                <p>5600 Sankt Johann</p>
                <p>Austria</p>
            </div>
            <div><p>Icons by <a href="https://icons8.com/">Icons8</a></p></div>
        </div>
    </footer>
</body>
</html>